@use '../../scss/variables';
@use '../../scss/mixins';

.model {
  width: 420px;
  background: variables.$off-black;
  @include mixins.flexbox-space-between-column;
  padding: 20px 30px 30px;
  box-sizing: border-box;
  border-radius: 4px;

  .model-top {
    width: 100%;
    @include mixins.flexbox-space-between;
    margin-bottom: 30px !important;

    .model-top-left {
      @include mixins.flexbox-start;

      img {
        height: 30px;
        margin-right: 15px;
      }

      svg {
        height: 30px;
        width: 30px;
        margin-right: 9px;
        color: white;
      }
    }
  }

  .model-bottom {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    p {
      color: variables.$mui-off-white;

      &:hover {
        cursor: pointer;
        color: white
      }
    }
  }

  .model-bottom:has(p:first-child + p) {
    justify-content: space-between;
  }

  >:not(:last-child) {
    margin-bottom: 20px;
  }

  .MuiTextField-root {
    width: 100%;
  }

  .model-description {
    margin-bottom: 40px;
  }
}

/* Styles for mobile devices */
@media only screen and (max-width: 700px) {
  .model {
    width: 100% !important;
    max-width: none;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
  }
}