@use '../../scss/mixins';

.loop {
  width: 100%;
  @include mixins.flexbox-start-column;

  .title-and-toggle {
    width: 100%;
    @include mixins.flexbox-space-between;
  }

  .loop-params {
    width: 100%;
    @include mixins.flexbox-start-column;
    align-items: start;

    >* {
      margin-top: 20px;
      max-width: 265px;
    }
  }
}