@use "../../../scss/variables";

.nivo-line {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: 600px;
  max-width: 1000px;
  background: variables.$off-black;
  margin-bottom: 20px;
  padding: 20px 0 100px 10px;
  box-sizing: border-box;

  h4 {
    margin-left: 25px;
  }

  .tooltip {
    background: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  text {
    fill: rgb(255, 255, 255) !important;
  }
}

/* Styles for mobile devices */
@media only screen and (max-width: 768px) {
  body {
    #root {
      main {
        .nivo-line {
          height: 400px;
          padding-bottom: 140px;
        }
      }
    }
  }
}